<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="Automation">
        <register type="PageObjectFramework.Interfaces.IHomePage, PageObjectFramework" 
                  mapTo="PageObjectFramework.Pages.HomePage, PageObjectFramework"
                  name="homePage"/>
                  
        <register type="PageObjectFramework.Interfaces.ISearchPage, PageObjectFramework" 
                  mapTo="PageObjectFramework.Pages.SearchPage, PageObjectFramework"
                  name="searchPage"/>
        <!-- <constructor>
               <param name="homePage"> 
              <dependency name="HomePage"> </dependency>
             </param>
        </constructor>
        <constructor>
               <param name="searchPage"> 
              <dependency name="SearchPage"> </dependency>
             </param>
        </constructor>constructor-->
      </container>
    </containers>
  </unity>
</configuration>
